<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	
	<!-- 로그 설정 -->
	<!-- 로그 설정 -->
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
		<targets async="true">
			<target xsi:type="File" name="dfile" fileName="${basedir}/logs/${level}.log" archiveEvery="Day" maxArchiveFiles="30" layout="${longdate} ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
			<target xsi:type="Console" name="dconsole" layout="${longdate} ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="dconsole,dfile" levels="Debug,Error,Info,Fatal" />
		</rules>
	</nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.51.0" newVersion="1.11.51.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>